:root {
  --teal-dark: #2F4F4F;

  --aquamarine: #ACE6D7;
  --aquamarine-tint: #F6FCFB;

  --yellow: #FCF4C1;

  --purple-dark: #909FFA;
  --purple-mid: #C1C9FC;
  --purple-light: #F2F3FE;

  --blue-dark: #85C6DA;
  --blue-mid: #ACD8E6;
  --blue-light: #E7F4F8;

  --pink: #FCC1C9;
  --pink-light: #FDE8EA;
  --white: white;
}

#title {
  background-color: var(--aquamarine);
  border-radius: 15px;
}

body {
  font-family: "Raleway", sans-serif;
  color: var(--teal-dark);
  background-color: var(--aquamarine-tint);
}




#select-container {
  background-color: var(--yellow);
  border-radius: 15px;
  padding: 8px;
}

.posture {
  height: 20px;
  border-radius: 16px;
  margin: 10px 5px;
  padding: 8px 10px;
  /* float:left; */
  border: 2px solid;
  background-color: var(--purple-mid);
  white-space: nowrap;
}
.posture:hover {
  cursor: pointer;
  background-color: var(--purple-dark);
}
.posture p {
  margin:0px;
}
#posture-buttons {
  display: flex;
  /* flex-direction: row; */
  background-color: var(--purple-light);
  margin: 10px;
  border-radius: 15px;
  height: 80px;
  width: 880px;
  overflow-x: scroll;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  /* overflow-y: hidden; */
}
.activity {
  height: 20px;
  border-radius: 16px;
  margin: 10px 5px;
  padding: 8px 10px;
  border: 2px solid;
  background-color: var(--blue-mid);
  white-space: nowrap;
}
.activity:hover {
  cursor: pointer;
  background-color: var(--blue-dark);
}
.activity p {
  margin:0px;
}
#activity-buttons {
  display: flex;
  /* flex-direction: row; */
  background-color: var(--blue-light);
  margin: 10px;
  border-radius: 15px;
  height: 80px;
  width: 880px;
  overflow-x: scroll;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  /* overflow-y: hidden; */
}







#question-description-container {
  /* border-radius: 0px 15px 15px 0px;
  padding: 15px;
  margin-top: 15px;
  background-color: var(--white);
  width: 300px;
  text-align: left; */
}
#question-container {
  background-color: var(--pink-light);
  /* border-radius: 15px 0px 0px 15px; */
  border-radius: 15px;
  padding: 8px;
  margin-top: 15px;
  width: 880px;
  font-size: 18px;
  line-height: 1.4em;
}

#practice-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#practice-container {
  background-color: var(--pink);
  border-radius: 15px;
  padding: 15px;
  margin-top: 15px;
}


#show-dialogue-container {
  text-align: left;
}
#increment-container p {
  text-align: left;
}